.site-footer {
	background: #ececec;
	padding-top: 20px;
	padding-bottom: 30px;
	a {
		color: #666;
		&:hover {
			color: lighten($red, 25%);
		}
	}
	h5 {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 800;
		margin-top: 15px;
	}
	hr {
		background: #252525;
		height: 1px;
		margin-top: 20px;
	}
	.custom-logo {
		width: 180px;
		height: auto;
	}
	.menu {
		padding-left: 0;
		margin-left: 0;
		.menu-item {
			padding-left: 0;
			list-style: none;
			margin-top: 15px;
		}
	}
	#social-footer {
		font-size: 12px;
		padding-left: 0;
		margin-left: 0;
		i {
			font-size: 20px;
		}
		li {
			margin: 8px;
			padding-left: 0;
			list-style: none;
			display: inline-block;
		}
	}
}