.header-image {
	position: relative;
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 100%;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
@media all and (max-width: 767px) {
	.header-image img {
		width: 260px;
		height: auto;
	}
}
#header-main {
	background: $red;
	a {
		font-size: 17px;
		color: white;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
		display: inline-block;
		border-top: 1px solid darken($red, 2%);
		border-bottom: 1px solid darken($red, 2%);
		box-shadow: inset 0px 0px 0px 0px darken($red, 5%);
		&:hover {
			box-shadow: inset 0px 57px 0px 0px darken($red, 5%);
		}
	}
	.menu-header-principal-container {
		@extend .container;
		-webkit-padding-start: 0px;
	}
	ul {
		@extend .row;
		margin-bottom: 0;
		li {
			text-align: center;
			@extend .col-6;
			@extend .col-md-4;
			@extend .col-lg;
			list-style: none;
			padding: 0;
		}
	}
}
#header-superior {
	text-align: left;
	background: #242424;
	border-bottom: 1px solid #252525;
	a {
		font-weight: 300;
		font-size: 14px;
		color: white;
		width: 100%;
		padding: 10px;
		display: inline-block;
		box-shadow: inset 0px 0px 0px 0px #252525;
		&:hover {
			box-shadow: inset 0px -41px 0px 0px $red;
		}
	}
	.menu-header-superior-container {
	}
	ul {
		padding-left: 0;
		margin-left: 0;
		-webkit-padding-start: 0px;
		margin-bottom: 0;
		li {
			display: inline-block;
			padding-left: 0;
			margin-left: 0;
			list-style: none;
		}
	}
	@media all and (max-width: 767px) {
		a {
			padding: 5px;
			font-size: 10px;
		}
	}
}

.navwalker-main {
	background: $red;
	color: white;
	padding-bottom: 2px;
  padding-top: 2px;
	.menu-item {
		padding: 0 15px;
		display: block;
	}
	a {
		display: block;
		padding: 15px 15px;
	}
	.dropdown-menu {
		background: darken($red, 5%);
		color: white;
		border-radius: 0;
		font-size: 14px;
		a {
			color: white;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		.dropdown-item:hover, .dropdown-item:focus {
			background: #00000015;
		}
	}
}