.breadcrumbs {
	opacity: .5;
	margin-bottom: 15px;
	transition: .3s;
	&:hover {
		opacity: 1;
	}
	#breadcrumb {
		color: $red;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 12px;
		i {
			color: #aaa;
			font-size: 8px;
			transform: translateY(-1px);
			margin-left: 7px;
			margin-right: 7px;
		}
		span {
			color: #666;
		}
	}
}
.the-page {
	animation: fadeIn .8s;
	h1 {
		color: $red;
		font-weight: 800;
	}
	h2	{
		color: $red;
		font-weight: 800;
		font-size: 1.5rem;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	h3	{
		color: $dark-blue;
		font-weight: 800;
		font-size: 1.2rem;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.page-header {
		position: relative;
		height: 180px;
		margin-bottom: 20px;
		background-color: #666;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		color: #fff;
		.meta	{
			position: absolute;
			bottom: 15px;
			left: 30px;
			z-index: 3;
			h1 {
				color: #fff;
				margin-bottom: 0;
			}
		}
		.shadow {
			top: 0;
			left: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+99&0+0,0.65+75 */
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%,   rgba(0,0,0,0.90) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.90) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.90) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
		}
	}
}

// Diretoria

.diretor {
	margin-bottom: 45px;
	img {
		margin-top: 2px;
	}
	.cargo {
		text-transform: uppercase;
		color: #888;
		font-size: 14px;
		margin-bottom: 10px;
	}
	strong {
		color: black;
	}
}

// Cursos
.card {

}

.card-header {
	border: none;
	cursor: pointer;
	&:hover {
		background: #00000022;
	}
	h2 {
		font-size: 1.2rem;
	}
}

.semestres {
	border: 1px solid #dedede;
	h4 {
		display: inline-block;
		color: $red;
		font-size: 1rem;
		font-weight: 800;
		border-bottom: 2px solid $red;
		padding-bottom: 5px;
		i {
			font-size: .6rem;
			transform: translateY(-5px);
		}
	}
	ul {
		padding-left: 0;
		margin-left: 0;
		li {
			font-size: 14px;
			padding: 8px;
			margin-left: 0;
			list-style: none;
			border-bottom: 1px solid #dedede;
			&:hover {
				background: #00000015;
			}
			color: $black;
			i {
				color: $red;
			}
		}
	}
}

.semestre {
	padding: 15px 15px 5px;
	&:nth-of-type(odd) {
		background: #f0f0f0;
	}
	&:nth-of-type(even) {
		background: #fefefe;
	}
}

// Galeria

.galeriadeimagens {
	.carousel-indicators {
		bottom: -105px;
		li {
			text-indent: initial;
			border: 3px solid $white;
			width: 80px;
	    height: auto;
	    cursor: pointer;
		}	
	}
	
}