.section-menu {
	margin-bottom: 30px;
	h2.widget-title {
		display: none;
	}
	ul {
		padding-left: 0;
		margin-left: 0;
		li {
			margin-bottom: 2px;
			padding-left: 0;
			margin-left: 0;
			list-style: none;
			a {
				background: #ececec;
				width: 100%;
				display: block;
				padding: 10px;
				transition: .1s;
				&:hover {
					background: $red!important;
					color: #fff;
				}
			}
		}
	}
	.current-menu-item a {
		background: #ccc;
	}
}