.section-menu {
	margin-bottom: 30px;
	ul {
		padding-left: 0;
		margin-left: 0;
		li {
			margin-top: 2px;
			padding-left: 0;
			margin-left: 0;
			list-style: none;
			a {
				background: #ececec;
				width: 100%;
				display: block;
				padding: 10px;
				transition: .1s;
				&:hover {
					background: $red;
					color: #fff;
				}
			}
		}
	}
}